#page-course-view-topicsactivitycards #page {
  li.activity > div:not(.activity-item) {
    padding: 0;
  }

  .section .activity {
    list-style: none;
    padding: 0.25rem 0;


    .containsviewbutton .activity-item:not(.viewbutton) {
      padding-bottom: 4em!important;
    }

    .containsviewbutton .activity-item.viewbutton {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding-bottom: 1em!important;
    }
  }

  #region-main {
    padding: 0;
  }
  #region-main > div {
    padding: 0;
  }
  #collapsesections {
    display: none;
  }

  ul.topicsactivitycards,
  .topicsactivitycards .layoutcards .course-content-item-content ul.section {
    display: flex !important;
    flex-wrap: wrap;
    padding: 0;
  }

  .hidesummary .section-summary-activities {
    display: none;
  }

  ul.topicsactivitycards {
    .tac-card-img {
      background-size: cover;
      background-position: center;
    }

    .tac-card-img,
    .mediaplugin.mediaplugin_vimeo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }

    .tac-card-image,
    .tac-card-video{
      height: 0 !important;
      position: relative;
      overflow: hidden;
      padding-top: 56.25%;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;

      .mediaplugin {
        margin: 0;
      }
      iframe {
        height: 100%;
        width: 100%;
      }
    }

    .tac-card-duration-circle {
      height: 3.5rem;
      width: 3.5rem;
      line-height: 1;
    }

    .tac-card-tags {
      .badge {
        background: #d9dde0;
        color: #212529;
      }

      b {
        font-weight: normal;
        font-size: small;
      }
    }

    .course-section {
      padding: 0;
      margin-bottom: .5rem;
      margin-top: 1.5rem;
      border-bottom: 0;
    }

    li.section.tac-container,
    .activity.tac-container .activity-item {
      border: 0 !important;
      padding: 1em;

      .course-description-item, .description, .description-inner {
        background: none;
        border: none;
      }
      .course-description-item{
        padding: 0;
      }
    }

    li.section.tac-container .activity:not(.tac-container) {
      padding: 0.5em;

      .activity-item {
        padding: 0;
      }
    }

    li.section.tac-container .activity:not(.tac-container):not(:last-child) .activity-item {
      border: 0;
      border-radius: 0;
      border-bottom: 1px solid #dee2e6;
      padding-bottom: 15px;
    }

    li.section.tac-container .activity:not(.tac-container):last-child .activity-item {
      border: 0;
    }

    li.section.tac-container .section-inner-wrapper {
      border-radius: .5rem;
      border: 1px solid #dee2e6;
    }

    .section-inner-wrapper {
      .course-section-header {
        padding: .5rem;
        padding-bottom: 0;
      }

      .course-content-item-content .course-description-item.summarytext {
        padding-left: 0.5em;
      }
    }
  }
}


#page-course-view-topicsactivitycards.overridefixedwidthcoursepage {
  #topofscroll,
  #page-header,
  .secondary-navigation .navigation .nav-tabs {
    max-width: none !important;
  }
}



$light:         #eaeaea;
$success:       #83C55B;
$body-color:                #010101;


$doughnut-size: 100px;

$stroke: 7.5px;
$radius: calc($doughnut-size / 2) - calc($stroke * 2);

@function pi() {
  @return 3.14159265359;
}

$circumference: $radius * 2 * pi();
$doughnut-empty-colour: $light;
$doughnut-fill-colour: $success;
$doughnut-text-colour: $body-color;

.progress-chart-container {
  height: $doughnut-size;
  width: $doughnut-size;

  .progress-doughnut {
    height: $doughnut-size;
    width: $doughnut-size;

    .progress-background {
      width: $doughnut-size - ( 3 * $stroke);
      height: $doughnut-size - ( 3 * $stroke);
      top: (1.5 * $stroke);
      left: (1.5 * $stroke);
      border-radius: 50%;
      border: $stroke solid $doughnut-empty-colour;
      background-color: white;
    }
    .progress-text {
      top: 50%;
      /*rtl:ignore*/
      left: 50%;
      transform: translate(-50%, -50%);
      color: $doughnut-text-colour;

      &.has-percent {
        color: $doughnut-text-colour;
      }
    }

    .progress-indicator {
      height: $doughnut-size;
      width: $doughnut-size;

      svg {
        position: relative;
        height: $doughnut-size;
        width: $doughnut-size;

        .circle {
          stroke-width: 7px; // SHAME - magic number.
          stroke: $success;
          fill: none;
          stroke-dasharray: $circumference $circumference;
          stroke-dashoffset: $circumference;
          transform: rotate(-90deg);
          transform-origin: 50% 50%;
          stroke-linecap: round;

          @for $i from 1 through 100 {
            &.percent-#{$i} {
              stroke-dashoffset: calc($circumference - ($i / 100 * $circumference));
            }
          }

          // When 100% progress...
          &.percent-100 {
            stroke-dashoffset: 0; // Magic number for full circle.
          }
        }
      }
    }

    &.completed {
      .progress-indicator {
        svg {
          .circle {
            stroke: $success;
          }
        }
      }
      .progress-text {
        color: $success;
      }
    }
  }
}
