{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_courseformat/local/content/section/cmitem

    Displays the course module list inside a course section.

    Example context (json):
    {
        "cmformat": {
            "cmname": "<a class=\"aalink\" href=\"#\"><span class=\"instancename\">Activity example</span></a>",
            "hasname": "true",
            "moveicon": "<i>[Move]</i>",
            "indent": 2,
            "afterlink": "<span class=\"badge badge-primary\">30 unread messages</span>",
            "hasextras": true,
            "extras": ["<span class=\"badge badge-secondary\">[extras]</span>"],
            "completion": "<span class=\"badge badge-success\">Completed!</span>"
        },
        "id": 3,
        "anchor": "module-3",
        "module": "forum",
        "extraclasses": "newmessages"
    }
}}
{{#layoutlist}}
    <li
            class="activity activity-wrapper {{module}} modtype_{{module}} {{extraclasses}} {{#hasinfo}}hasinfo{{/hasinfo}}"
            id="{{anchor}}"
            data-for="cmitem"
            data-id="{{id}}"
    >
        {{#cmformat}}
            {{$ core_courseformat/local/content/cm}}
                {{> core_courseformat/local/content/cm}}
            {{/ core_courseformat/local/content/cm}}
        {{/cmformat}}
    </li>
{{/layoutlist}}

{{^layoutlist}}
<li
    class="activity activity-wrapper tac-container {{module}} modtype_{{module}} {{extraclasses}} {{#hasinfo}}hasinfo{{/hasinfo}}
        {{#widthclass}}float-left  p-1 {{widthclass}} {{/widthclass}}"
    id="{{anchor}}"
    data-for="cmitem"
    data-id="{{id}}"
>

    <div class="activity-inner-wrapper h-100">
        {{#cardimage}}
        {{#cmformat.activityinfo.uservisible}}
            <a href="{{cmformat.url}}" class="{{cmformat.linkclasses}} aalink" onclick="{{{cmformat.onclick}}}">
        {{/cmformat.activityinfo.uservisible}}

        <div class="tac-card-img rounded-top {{^cardimage}} bg-light {{/cardimage}}" style="background-image: url('{{{cardimage}}}');">
        {{/cardimage}}
        {{^cardimage}}
        <div>
        {{/cardimage}}

            {{#duration}}
                <div class="tac-card-duration text-right p-2">
                    <div class="tac-card-duration-circle bg-primary text-white border shadow rounded-circle p-3 d-inline-flex justify-content-center align-items-center flex-column">
                        {{{duration}}}
                    </div>
                </div>
            {{/duration}}

        </div>

        {{#cardimage}}
            {{#cmformat.activityinfo.uservisible}}
            </a>
            {{/cmformat.activityinfo.uservisible}}
        {{/cardimage}}

        {{#cmformat}}
            {{$ core_courseformat/local/content/cm}}
                {{> core_courseformat/local/content/cm}}
            {{/ core_courseformat/local/content/cm}}
        {{/cmformat}}
    </div>
</li>
{{/layoutlist}}
