.format-topicsactivitycards.path-course-view .course-content ul li.section.main {
    border: none;
}

.format-topicsactivitycards.path-course-view #region-main {
    border: none;
    padding: 0;
}

.format-topicsactivitycards #section-0 .content {
    clear: both;
}

.format-topicsactivitycards .section .card-deck {
    margin: 0;
    padding: 0;
}


.format-topicsactivitycards .card.activity {
    margin: 0;
    padding: 3px;
    border: none;
}

.format-topicsactivitycards .card.activity .menubar {
    padding: 10px;
}

.format-topicsactivitycards .card.activity .activityinfo {
    clear: both;
    padding-top: 15px;
}

.format-topicsactivitycards .card.activity .availabilityinfo {
    margin: 0;
}

.format-topicsactivitycards .card.activity .card-body {
    padding: 1.25rem 1.25rem 0 1.25rem;
}

.format-topicsactivitycards .card.activity .card-footer {
    font-size: 80%;
    font-weight: 400;
    border: none;
    padding: 4px;
}

.format-topicsactivitycards .card.activity .card-header {
    border: none;
}

.format-topicsactivitycards .card.activity .duration {
    font-weight: bolder;
}

.format-topicsactivitycards .card.activity .durationfield_timeunit {
    font-weight: 400;
}

.card-img-overlay {
    position: absolute !important;
    padding: 1.25rem !important;
}

.card.borderdouble {
    border: 5px solid #fff!important;
}

.fadeopacity {
    opacity: 15%;
}
/* Card widths */

.format-topicsactivitycards .card.activity.fullwidth {
    flex: 0 0 100%;
    max-width: 100%;
}

.format-topicsactivitycards .card.activity.normalwidth {
    flex: 0 0 100%;
    max-width: 100%;
}

.format-topicsactivitycards .card.activity.doublewidth {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 900px) {
    .drawer-open-left.used-region-side-pre.format-topicsactivitycards .card.activity.normalwidth {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .drawer-open-left.used-region-side-pre.format-topicsactivitycards .card.activity.doublewidth {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 1150px) {
    .drawer-open-left.used-region-side-pre.format-topicsactivitycards .card.activity.normalwidth {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .drawer-open-left.used-region-side-pre.format-topicsactivitycards .card.activity.doublewidth {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 1450px) {
    .drawer-open-left.used-region-side-pre.format-topicsactivitycards .card.activity.normalwidth {
        flex: 0 0 33%;
        max-width: 33%;
    }

    .drawer-open-left.used-region-side-pre.format-topicsactivitycards .card.activity.doublewidth {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 1050px) {
    .drawer-open-left.format-topicsactivitycards .card.activity.normalwidth,
    .used-region-side-pre.format-topicsactivitycards .card.activity.normalwidth {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .drawer-open-left.format-topicsactivitycards .card.activity.doublewidth,
    .used-region-side-pre.format-topicsactivitycards .card.activity.doublewidth {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 1300px) {
    .drawer-open-left.format-topicsactivitycards .card.activity.normalwidth,
    .used-region-side-pre.format-topicsactivitycards .card.activity.normalwidth {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .drawer-open-left.format-topicsactivitycards .card.activity.doublewidth,
    .used-region-side-pre.format-topicsactivitycards .card.activity.doublewidth {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 1600px) {
    .drawer-open-left.format-topicsactivitycards .card.activity.normalwidth,
    .used-region-side-pre.format-topicsactivitycards .card.activity.normalwidth {
        flex: 0 0 33%;
        max-width: 33%;
    }

    .drawer-open-left.format-topicsactivitycards .card.activity.doublewidth,
    .used-region-side-pre.format-topicsactivitycards .card.activity.doublewidth {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 750px) {
    .format-topicsactivitycards .card.activity.normalwidth {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .format-topicsactivitycards .card.activity.doublewidth {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 900px) {
    .format-topicsactivitycards .card.activity.normalwidth {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .format-topicsactivitycards .card.activity.doublewidth {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 1100px) {
    .format-topicsactivitycards .card.activity.normalwidth {
        flex: 0 0 33%;
        max-width: 33%;
    }

    .format-topicsactivitycards .card.activity.doublewidth {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 1600px) {
    .format-topicsactivitycards .card.activity.normalwidth {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .format-topicsactivitycards .card.activity.doublewidth {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
