#page-course-view-topicsactivitycards:not(.editing) li.section:hover,
#page-course-view-topicsactivitycards:not(.editing) li.activity:hover {
  transform: scale(1.015);
  transition: all .5s; }

#page-course-view-topicsactivitycards #page #collapsesections {
  display: none; }

#page-course-view-topicsactivitycards #page ul.topicsactivitycards,
#page-course-view-topicsactivitycards #page .topicsactivitycards .layoutcards .course-content-item-content ul.section {
  display: flex !important;
  flex-wrap: wrap; }

#page-course-view-topicsactivitycards #page .hidesummary .section-summary-activities {
  display: none; }

#page-course-view-topicsactivitycards #page ul.topicsactivitycards .tac-card-img {
  height: 150px;
  background-size: cover;
  background-position: center; }

#page-course-view-topicsactivitycards #page ul.topicsactivitycards .tac-card-duration-circle {
  height: 3.5rem;
  width: 3.5rem;
  line-height: 1; }

#page-course-view-topicsactivitycards #page ul.topicsactivitycards .tac-card-tags .badge {
  background: #d9dde0;
  color: #212529; }

#page-course-view-topicsactivitycards #page ul.topicsactivitycards .tac-card-tags b {
  font-weight: normal;
  font-size: small; }

#page-course-view-topicsactivitycards #page ul.topicsactivitycards .course-section {
  padding: 0;
  margin-bottom: .5rem;
  margin-top: .5rem; }

#page-course-view-topicsactivitycards #page ul.topicsactivitycards li.section.layoutcards .activity-basis .align-self-start.flex-md-row {
  flex-direction: column !important; }

#page-course-view-topicsactivitycards #page ul.topicsactivitycards li.section.layoutcards .activity-inner-wrapper {
  border-radius: .5rem;
  border: 1px solid #dee2e6;
  padding: 0 !important; }

#page-course-view-topicsactivitycards #page ul.topicsactivitycards li.section.tac-container,
#page-course-view-topicsactivitycards #page ul.topicsactivitycards .activity.tac-container .activity-item {
  border: 0 !important;
  padding: 1em; }

#page-course-view-topicsactivitycards #page ul.topicsactivitycards li.section.tac-container .activity:not(.tac-container) {
  padding: 0.5em; }
  #page-course-view-topicsactivitycards #page ul.topicsactivitycards li.section.tac-container .activity:not(.tac-container) .activity-item {
    padding: 0; }

#page-course-view-topicsactivitycards #page ul.topicsactivitycards li.section.tac-container .activity:not(.tac-container):not(:last-child) .activity-item {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #dee2e6; }

#page-course-view-topicsactivitycards #page ul.topicsactivitycards li.section.tac-container .activity:not(.tac-container):last-child .activity-item {
  border: 0; }

#page-course-view-topicsactivitycards #page ul.topicsactivitycards li.section.tac-container .section-inner-wrapper {
  border-radius: .5rem;
  border: 1px solid #dee2e6; }

#page-course-view-topicsactivitycards #page ul.topicsactivitycards .section-inner-wrapper .course-section-header {
  padding: .5rem;
  padding-bottom: 0; }

#page-course-view-topicsactivitycards #page ul.topicsactivitycards .section-inner-wrapper .content {
  padding: .5rem; }

#page-course-view-topicsactivitycards.overridefixedwidthcoursepage #topofscroll,
#page-course-view-topicsactivitycards.overridefixedwidthcoursepage #page-header,
#page-course-view-topicsactivitycards.overridefixedwidthcoursepage .secondary-navigation .navigation .nav-tabs {
  max-width: none !important; }
