<li id="module-{{mod.id}}"
    data-region="module"
    data-module="{{mod.id}}"
    class="card {{^mod.uservisible}} notavailable bg-gray020 {{/mod.uservisible}} activity type-{{mod.modname}} {{mod.extraclasses}}">

    {{#showheader}}
        <div class="card-header" style="min-height:40px; {{#cardimage}}background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                height: 175px;
                background-image: url({{{cardimage}}});{{/cardimage}}">
            {{#editing}}
                {{{moveicons}}}
                <span class="float-right editoptions actions">
                    {{{editoptions}}}
                </span>
            {{/editing}}
        </div>
    {{/showheader}}
    <div class="card-body">
        {{#cmname}}
            <div class="cmname">
                <div class="float-left">{{{cmname}}}</div>
                {{#completion}}
                    <div class="float-right completion">
                        {{{completion}}}
                    </div>
                {{/completion}}
            </div>
        {{/cmname}}
        <div class="activityinfo">
            {{#text}}
                <div class="text {{^mod.uservisible}} contentwithoutlink dimmed dimmed_text {{/mod.uservisible}}">
                    {{{text}}}
                </div>
                {{^cmname}}
                    {{#completion}}
                        <div class="completion">
                            {{{completion}}}
                        </div>
                    {{/completion}}
                {{/cmname}}
            {{/text}}
        </div>

        {{#mod.afterlink}}
            <span class="afterlink">
                {{{mod.afterlink}}}
            </span>
        {{/mod.afterlink}}
    </div>
    {{#showfooter}}
        <div class="card-footer">
            {{#duration}}
                <span class="duration">
                    {{{duration}}}
                </span>
            {{/duration}}
            {{#availability}}
                <span class="availability">
                    {{{availability}}}
                </span>
            {{/availability}}
        </div>
    {{/showfooter}}
</li>
