<button class="btn btn-icon icon-size-3 tacfullscreen"
        type="button">
    <i class="icon fa fa-expand fa-fw m-0" title="{{#str}} togglefullscreen, format_topicsactivitycards {{/str}} {{{fullname}}}" aria-hidden="true"></i>
    <span class="sr-only">{{#str}} togglefullscreen, format_topicsactivitycards {{/str}} {{{fullname}}}</span>
</button>