<div class="tag_tag_lozenges_header">{{{lozengesheader}}}</div>
<div class="tag_tag_lozenges" >
    {{#lozenges}}
        <a href="{{{link}}}" class="badge badge-pill badge-info tactaglozenge {{#selected}}tactaglozengeselected{{/selected}}" data-tagid="{{id}}" role='button'>{{{label}}}</a>
    {{/lozenges}}
</div>
