<li id="section-{{sectionid}}"
    data-region="section"
    data-section="{{sectionid}}"
    class="tac-container {{widthclass}} m-0 mb-4 {{^uservisible}} notavailable {{/uservisible}}">

    {{! Card. }}
    <div class="tac-card m-2 p-0 rounded shadow h-100 d-flex flex-column bg-white {{{additionalcssclasses}}}">
        {{! Used by moodle js. }}
        <span class="sr-only">{{name}}</span>
        {{! Card header. }}
        <a class="tac-card-img-link b-block" href="{{sectionlink}}" title="{{name}}">
            {{#cardimage}}
                <div class="tac-card-img rounded-top {{^cardimage}} bg-light {{/cardimage}}"
                     style="background-image: url('{{{cardimage}}}');"></div>
            {{/cardimage}}
            {{^cardimage}}
                <div></div>
            {{/cardimage}}
        </a>

        {{! Card content. }}
        <div class="tac-card-content px-3 pt-3">
            <div class="tac-card-name cmname pt-3">
                {{{name}}}
            </div>

            {{#text}}
                <div class="tac-card-text pt-3 small tac-card-text-truncate">
                    {{{text}}}
                </div>
            {{/text}}
        </div>

        {{! Card metadata. }}
        <div class="tac-card-metadata px-3 mt-auto mb-3">
            {{#availability}}
                <div class="tac-card-availability mb-1">
                    {{{availability}}}
                </div>
            {{/availability}}
        </div>
        {{! End card metadata. }}
    </div>
    {{! End card. }}
</li>
